<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<style>
  body{
    background: rgba(2, 0, 36, 0.568);
  background: linear-gradient(90deg, rgba(91, 88, 139, 0.479) 0%, rgba(9, 9, 121, 0.445) 35%, rgba(0, 213, 255, 0.438) 100%);}
</style>

<div class="container">
  <div class="col-10 col-md-8 mt-5">
    <form method='post' , action="">
      <input 
    </form>
  </div>
</div>





<%- include('./partials/footer.ejs') %>