<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

  <% if(age10){ %>
<div class="alert alert-success text-center" role="alert">
  You made a successful Payout
</div>
<% } %>

  <% if(age20){ %>
<div class="alert alert-success text-center" role="alert">
  You made a successful Payout
</div>
<% } %>


  <% if(city){ %>
<div class="alert alert-success text-center" role="alert">
  You made a successful Payout
</div>
<% } %>

<% if(gender){ %>
<div class="alert alert-success text-center" role="alert">
  You made a successful Payout
</div>
<% } %>








<%- include('./partials/footer.ejs') %>