<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<style>
  body{
    background: rgba(2, 0, 36, 0.568);
  background: linear-gradient(90deg, rgba(91, 88, 139, 0.479) 0%, rgba(9, 9, 121, 0.445) 35%, rgba(0, 213, 255, 0.438) 100%);}
</style>

<div class="container">
  
      <div class="container my-3 col-12 col-sm-12 col-md-5">
    <div class="d-flex justify-content-center">
    <div class="reqcard mx-2 text-light w-50 text-center rounded py-3 px-2 bg-dark">
      <p>
        hello
      </p>
        </div>
        <div class="reqcard text-light mx-2 w-50 text-center py-3 px-1 rounded bg-dark">
          <p>
  agent is here
            hello 3
          </p>
      </div>
    </div>
</div>
</div>




<%- include('./partials/footer.ejs') %>