
  <body>
 
    
    <p id="requireHTTPS" class="hidden">
     
    </p>
       
    <p id="notSupported">
    
    </p>
       

    <ol>
      
      <li class="hidden">
        <input type="checkbox" id="name" checked />
        <label for="name">Include name?</label>
      </li>
  
      <li class="hidden">
        <input type="checkbox" id="tel" checked />
        <label for="tel">Include telephone numbers?</label>
      </li>
    
    </ol>
  
   
    <p>
      <button id="butRequest" type="button" disabled>
        Open contact picker
      </button>
    </p>
    
        
    <input type="text" id="te2" />
    <input type="text" id="ref" />
    <p>
      <b>Results</b>
    </p>
    <ul id="results">
      <li>Results will be populated here.</li>
    </ul>
    <pre id="rawResults">
    </pre>

    
    <script src="/common.js"></script>
    <script src="/demo.js"></script>

  </body>
</html>
