<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<style>
  body{
    background: rgba(2, 0, 36, 0.568);
  background: linear-gradient(90deg, rgba(91, 88, 139, 0.479) 0%, rgba(9, 9, 121, 0.445) 35%, rgba(0, 213, 255, 0.438) 100%);}
    .p_text{
      font-size: 22px;
      font-weight:700;
      
    }
  #main{
    height:35vh;
  }
</style>
 <div class="text-center my-3">
   <p class="p_text ">
               Get Loans UPTO 10,000
            </p>
            <h4>In Just 5 Minutes</h4>
        </div>
<div  class="d-flex">
  <div class="card bg-light rounded">
    <p>
      рд╣рдо рдХрд┐рд╕реА рд╕реЗ рднреА рд▓реЛрди рдХреЗ рд▓рд┐рдП рдкрд╣рд▓реЗ рдкреИрд╕реЗ рдХреА рдХреЛрдИ рдбрд┐рдорд╛рдВрдб рдирд╣реАрдВ рдХрд░рддреЗ рд╣реИ ред
рдХрд┐рд╕реА рдХреЛ рднреА udhaari рдХреЗ рдирд╛рдо рдкрд░ рдХреЛрдИ рдкреИрд╕рд╛ рди рджреЗрдВ ЁЯЩП
    </p>
    
  </div>
  
</div>
<div class="container-fluid main" style="margin-top: 22%;">

    <div class="col-11 col-md-10 mx-auto " id="main">
       
        <img src="https://cdn.glitch.me/3ba201fb-d584-4df2-b150-01867434d57d%2Fmarketing-4646598.png?v=1638735403691" alt="" style="width:300px;">
       
    </div>
<div class=" mt-5">
            <a href="user/login" class="btn btn-sm btn-success w-100 " style="font-size:22px;">LOGIN</a>
        </div>
       <div class="">
            <a href="user/register" class="btn btn-sm btn-success w-100  mt-3 "  style="font-size:22px;">SIGNUP</a>
  </div>

</div>

<%- include('./partials/footer.ejs') %>