<form action="/user/info/images" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="documnet_id">documnet_id * :</label>
        <input type="text" name="documnet_id" id="documnet_id" require class="form-control">
    </div>
    <div class="form-group">
        <label for="image_1">image_1 * :</label>
        <input type="file" name="image_1" id="image_1" require class="form-control">
    </div>
    <div class="form-group">
        <label for="image_2">image_2 * :</label>
        <input type="file" name="image_2" id="image_2" require class="form-control">
    </div>
    <div class="form-group">
        <label for="image_3">image_3 * :</label>
        <input type="file" name="image_3" id="image_3" require class="form-control">
    </div>
    <div class="form-group">
        <label for="video">video * :</label>
        <input type="file" name="video" id="video" require class="form-control">
    </div>
    <button type="submit">okay </button>
</form>