<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<style>
  body{
    background: rgba(2, 0, 36, 0.568);
  background: linear-gradient(90deg, rgba(91, 88, 139, 0.479) 0%, rgba(9, 9, 121, 0.445) 35%, rgba(0, 213, 255, 0.438) 100%);}
  input{
    background-color: transparent;

  }
</style>
<div class="container" style="margin-top: 46%;">
    <div class="col-10 col-md-7 mx-auto">
        <form action="/user/login" method="post">
            <input type="text" name="phone" id="" placeholder="Phone Number" class="form-control mt-2">
            <input type="password" name="password" id="" placeholder="Password" class="form-control mt-2">
            <div class=" mt-3">  <button type="submit" class="btn btn-sm btn-success w-100" style="font-size:22px;">LOGIN</button>
            </div>
        </form>
    </div>
</div>
<%- include('./partials/footer.ejs') %>