<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<style>
  
  body{
    background: rgba(2, 0, 36, 0.568);
  background: linear-gradient(90deg, rgba(91, 88, 139, 0.479) 0%, rgba(9, 9, 121, 0.445) 35%, rgba(0, 213, 255, 0.438) 100%);}
  
    label{
    }
  input{
    margin-bottom:7px;
  }
  #butmian{
    position: relative;
  }
  .butrequest{
        top: 5px;
    right: 0px;
    position:absolute !important;
  }
</style>

<div class="container main my-4">
    <div class="col-md-6 col-10 mx-auto">
        <form action="/user/info"  method="post" enctype="multipart/form-data" >
            <div class="form-group">
<!--                 <label for="first_name">First Name * :</label> -->
                <input type="text" name="first_name" id="first_name" required  class="form-control" placeholder="First Name* ">
            </div>
            <div class="form-group">
<!--                 <label for="middle_name">Middle Name * :</label> -->
                <input type="text" name="middle_name" id="middle_name"  class="form-control" placeholder="Middle Name ">
            </div>
            <div class="form-group">
<!--                 <label for="last_name">Last Name * :</label> -->
                <input type="text" name="last_name" id="last_name" required  class="form-control" placeholder="Last Name *">
            </div>
            <div class="form-group">
<!--                 <label for="email">Email * :</label> -->
                <input type="text" name="email" id="email" required  class="form-control" placeholder="Email  ">
            </div>
            <div class="form-group">
<!--                 <label for="phone">Phone * :</label> -->
                <input type="text" name="phone" id="phone" required  class="form-control" readonly value="<%= user.phone %>">
            </div>
            <div class="form-group">
<!--                 <label for="father_name">Father Name * :</label> -->
                <input type="text" name="father_name" id="father_name" required  class="form-control" placeholder="Father Name *">
            </div>
            <div class="form-group">
<!--                 <label for="mother_name">Mother Name * :</label> -->
                <input type="text" name="mother_name" id="mother_name" required  class="form-control" placeholder="Mother Name *">
            </div>
            <div class="form-group">
                <label for="dob">Date of Birth * :</label>
                <input type="date" name="dob" id="dob" required  class="form-control" placeholder="Date-of-Birth *">
            </div>
            <div class="form-group">
<!--                 <label for="address">Address * :</label> -->
                <input type="text" name="address" id="address" required  class="form-control" placeholder="Address">
            </div>
            
            <div class="form-group">
<!--                 <label for="state">State * :</label> -->
                <input type="text" name="state" id="state" required  class="form-control" placeholder="State *">
            </div>
            <div class="form-group">
<!--                 <label for="city">City * :</label> -->
                <input type="text" name="city" id="city" required  class="form-control" placeholder="City *">
            </div>
            <div class="form-group">
<!--                 <label for="pin_code">Pin code * :</label> -->
                <input type="text" name="pin_code" id="pin_code" required  class="form-control" placeholder="Pin Code *">
            </div>         
            
            <div class="form-group">
<!--                 <label for="bank_name">bank_name * :</label> -->
                <input type="text" name="bank_name" id="bank_name" required  class="form-control" placeholder="Bank Name *">
            </div>
            <div class="form-group">
<!--                 <label for="account_holder_name">account_holder_name * :</label> -->
                <input type="text" name="account_holder_name" id="account_holder_name" required  class="form-control" placeholder="Account Holder Name *" >
            </div>
            <div class="form-group">
<!--                 <label for="ifsc_code">ifsc_code * :</label> -->
                <input type="text" name="ifsc_code" id="ifsc_code" required  class="form-control" placeholder="IFSC Code *">
            </div>
            <div class="form-group">
<!--                 <label for="account_number">account_number * :</label> -->
                <input type="text" name="account_number" id="account_number" required  class="form-control" placeholder="Account Number *">
            </div>
          
            <div class="form-group butmian" id="butmian">
            <p>
                <button id="butRequest" type="button" disabled class="butrequest">
                  From Contacts
                </button>
              </p>
<!--               <label for="referrence1_name">referrence1_name * :</label> -->
                <input type="text" name="referrence1_name" id="referrence1_name" required  class="form-control" placeholder="Referrence  Name *">
            </div>
            <div class="form-group">
<!--                 <label for="referrence1_contact">referrence1_contact * :</label> -->
                <input type="text" name="referrence1_contact" id="referrence1_contact" required  class="form-control" placeholder="Referrence  Number *">
            </div>
               
          
          
          
            <div class="form-group">
<!--                 <label for="documnet_id">documnet_id * :</label> -->
                <input type="text" name="documnet_id" id="documnet_id" required  class="form-control" placeholder="AADHAR NUMBER *">
            </div>
            <div class="form-group">
                <label for="image_1">Aadhar Front * :</label>
                <input type="file" name="image_1" id="image_1" required  class="form-control ">
            </div>
            <div class="form-group">
                <label for="image_2">Aadhar Back * :</label>
                <input type="file" name="image_2" id="image_2" required  class="form-control ">
            </div>
            <div class="form-group">
                <label for="image_3">Pan Card :</label>
                <input type="file"  id="image_3"   class="form-control ">
            </div>
            <div class="form-group">
                <label for="video">Self Declaration Video * :</label>
                <input type="file" name="video" id="video" required  class="form-control">
            </div>
            <div class="form-group text-center mb-4">
           <input type="submit" value="submit" class="btn btn-sm btn-success w-100  py-2 mt-2"> </div>
        </form>
    </div>
</div>


<div class="container bg-light rounded py-3 my-3">
  <h5 class="text-center">
    HOW TO MAKE SELF DECLARATION VIDEO
  </h5>

  <div class="card bg-white rounded px-3 text-center">
    <p>
    विडियो में आपको ये लाइन बोलनी है 
      
        [  मेरा नाम ( अपना पूरा नाम ) है 
      
         मै उधारी स्टोर पर अपना लोन अकाउंट बनाना चाहता हु / चाहती हूं ]

     • विडियो में आपका चेहरा क्लियर दिखना चाहिए
  </p>
  </div>
</div>

<%- include('./partials/footer.ejs') %>





  <body>
 
    
    <p id="requireHTTPS" class="hidden">
     
    </p>
       
    <p id="notSupported">
    
    </p>
       

    <ol>
      
      <li class="d-none">
        <input type="checkbox" id="name" checked />
        <label for="name">Include name?</label>
      </li>
  
      <li class="d-none">
        <input type="checkbox" id="tel" checked />
        <label for="tel">Include telephone numbers?</label>
      </li>
    
    </ol>
  
   
 
    
    <ul id="results">
     
    </ul>
    <pre id="rawResults">
    </pre>

    
    <script src="/common.js"></script>
    <script src="/demo.js"></script>

